@import "_variables.scss";

%btn {
  text-decoration: none;
  background-color: white;
  width: 140px;
  height: 40px;
  border-radius: 100px;
  border: $border;
  color: inherit;
  font-weight: 600;
  transition: background-color 0.5s, width 0.5s linear;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: black;
  }
}
